body{
	overflow-x: hidden;
	margin-left: 0px;
	background-color: #f7efe0;
	margin-top: 0px;
}


#campos{

	position: absolute; left: 20px; top: 160px;
}

#input{
	position: absolute; left: 250px; top: 160px;
}

#categoria1{
	position: absolute; left: 800px; top: 160px;

}
#categoria2{
	position: absolute; left: 800px; top: 420px;
}

#bebida{
	position:absolute; left: 800px; top: 210px;
}
#sobremesa{
	position:absolute; left: 800px; top: 470px;
	
}

#add{
	position: absolute; left: 20px; top: 400px;
	border: 2px solid #ff8080;
    background-color: #f7efe0;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;

	font-family: system;
	src: url(../font/Roboto-Medium.ttf);
}

#fecharbtn{
	position: absolute; left: 200px; top: 400px;
	border: 2px solid #ff8080;
    background-color: #f7efe0;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;

	font-family: system;
	src: url(../font/Roboto-Medium.ttf);
}
#logout{

	position: absolute; left: 20px; top: 580px;
	border: 2px solid #ff8080;
    background-color: #f7efe0;
    color: black;
    padding: 5px 14px;
    font-size: 16px;
    cursor: pointer;

	font-family: system;
	src: url(../font/Roboto-Medium.ttf);
}
@font-face{
	font-family: system;
	src: url(../font/Roboto-Medium.ttf);
}
#btn {
 

}
table {
	border: 2px #ff8080;
	width: 27%;
	position:absolute;left: 390px; top: 160px;
	font-family: system;
	src: url(../font/Roboto-Medium.ttf);
	font-size: 50px;
}

th,td{
	border-bottom: 1px solid black;
	text-align: center;
	font-size: 19px;
}


