body{
	overflow: hidden;
	margin-left: 0px;
	background-color: #f7efe0;
}

font{

	font-size: 19px;
}

#campos{

	position: absolute;  left: 20px; top: 150px;
}

#input{
	position: absolute; left: 250px; top: 150px;
}

#banner{
	max-width:200%;
	height:120px;
	width: auto;
}

#categoria1{
	position: absolute; left: 800px; top: 150px;
}
#categoria2{
	position: absolute; left: 800px; top: 400px;
}

#bebida{
	position:fixed; left: 800px; top: 200px;
}
#sobremesa{
	position:fixed; left: 800px; top: 450px;
}

#add{
	position: fixed; left: 350px; top: 151px;
	width: 25px;
	height: 25px;
}

.linha-vertical1 {
  height: 768px;/*Altura da linha*/
  margin-top: 0px;
  border-left: 1px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
  position: absolute; left: 383px;
}

.linha-vertical2 {
  height: 768px;/*Altura da linha*/
  margin-top: 0px;
  border-left: 1px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
  position: absolute; left: 766px;
}



@font-face{
	font-family: system;
	src: url(../font/Roboto-Medium.ttf);
}

table {
	border: 2px black solid;
	width: 27%;
	position:absolute;left: 390px; top: 150px;
}

th,td{
	border-bottom: 1px solid #ddd;
	text-align: center;
}


